* {
    background-color: #fefae0;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}

.title{
    color: #606c38;
    font-weight: 700;
    font-size: 48px;
    text-align: center;
    padding: 10px;
    margin: 15px;
    border: 8px black double;
}
.content{
    border: 5px black dotted;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.recipe{
    border: red dotted;
    align-content: center;
    padding: 10px;
    display: inline-block;
}
img{
    margin: auto;
    padding: 10px;
    border: solid;
    display: block;
}

 .name{
    width: 300px;
    margin: 10px;
    padding: 5px;
    display: block;
    text-align: center;
}














/*CSS for hyperlinks*/
a:link,
a:visited {
    font-size: 30px;
    color: #dda15e;
    text-decoration: none;
}

a:hover {
    color: #bc6c25;
}