* {
    background-color: #fefae0;
    font-family: 'Times New Roman', Times, serif;
}

.Title {
    text-align: center;
    color: #606c38;
    padding: 20px;
    border: 5px black double;
    margin: 15px;
    font-weight: 700;
    font-size: 48px;

}

a:link,
a:visited {
    font-size: 30px;
    color: #dda15e;
    text-decoration: none;
}

a:hover {
    color: #bc6c25;
}

.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-color: #606c38;
    border-width: 15px;
}

.Sub-Title {
    font-size: 30px;
    font-weight: 500;
    color: #bc6c25;
}

.Info {
    color: #606c38;
    font-weight: 500;
    font-size: 18px;
}

.Ingredients {
    color: #606c38;
    font-weight: 500;
    font-size: 18px;
}

.photos {
    height: 400px;
    width: 900px;
    margin: 10px;
    border: 5px black dotted;
    padding: 10px;
    display: inline-block;
}

img {
    display: inline-block;
    margin: 10px auto;
}